# Main dashboard
NCWALLET_APP_HOST=127.0.0.1
NCWALLET_APP_PORT=4173
NCWALLET_DEVTOOLS_LIST_URL=http://127.0.0.1:9222/json/list

# Gatherer sidecar
GATHERER_SIDECAR_HOST=127.0.0.1
GATHERER_SIDECAR_PORT=4290
GATHERER_MAIN_APP_BASE=http://127.0.0.1:4173
GATHERER_DEVTOOLS_LIST_URL=http://127.0.0.1:9222/json/list

# Todo runner sidecar
TODO_RUNNER_HOST=127.0.0.1
TODO_RUNNER_PORT=4295
TODO_RUNNER_MAIN_APP_BASE=http://127.0.0.1:4173
TODO_RUNNER_GATHERER_BASE=http://127.0.0.1:4290

# ML sidecar
ML_SIDECAR_HOST=127.0.0.1
ML_SIDECAR_PORT=4280

# Corridor Forge
SIGNAL_LAB_HOST=127.0.0.1
SIGNAL_LAB_PORT=4186
